modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41023018
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node dist/index.js"
